<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title> Story TDD </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

  </head>
  <body style="background-color:#BAA0A0">

   <header class="text-center py-5 mb-4">
     <div class="container">
       <h1 style="font-weight:bold">Story testing</h1>
     </div>
   </header>
   <div class="container">
         <div class="row">
           <form method="post" class="box">
             {% csrf_token %}
             <div class="form-group shadow-textarea">
               <h5 class="font-weight-light text-black" style="color:red">Hey! How are You (?)</h5>
               {% for field in form %}
               {{field}}
               {% endfor %}
             </div>
             <button type="submit" name="button" id="button">Send</button>
           </form>
         </div>
         <hr>
         <div class="row">
           <div class="article">
               <a href="{% url 'testing:utt' %}"></a>
               <div class="article" style= "color:blue">
                       {% for update in list_statusgreet %}
                           <div class="kotak">  
                               <h5 id = 'respon'>{{ update.status }} | {{ update.date }}</h5>
                           </div>
                       {% endfor %}
                   </div>
               </div>
           </div>
         </div>





</body>


</html>
